<div class="sidebar-inner">
  <div class="main-logo">
    <a href="{{ .Site.BaseURL }}">
      日本語の注記
    </a>
  </div>

  <a href="#menu" id="menu-toggle">Menu</a>

  <nav class="sidebar-nav" id="menu">
    <ul>
      <li><a id="nav-start" class="sidebar-nav-item{{ if .Page.IsHome }} active{{ end }}" href="{{ .Site.BaseURL }}">Start</a></li>
      {{ range .Site.RegularPages.ByTitle -}}
        <li><a id="nav-{{ .Title | urlize }}" class="sidebar-nav-item{{ if eq .URL $.RelPermalink }} active{{ end }}" href="{{ .URL }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </nav>

  <div class="sidebar-theme-switcher">
    {{ partial "theme-switcher.html" . }}
  </div>
</div>