<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}{{ end }}</title>
<meta name="description" content="A random collection of personal notes on Japanese from a learner.">

<link rel="preconnect" href="https://use.typekit.net">

<meta name="theme-color" content="#e60012">
<meta name="msapplication-TileColor" content="#e60012">
<link rel="manifest" href="{{ "manifest.json" | relURL }}">
<link rel="msapplication-config" href="{{ "browserconfig.xml" | relURL }}">
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">

<script>
{{/* Script loader function */}}
window.jpNotesLoadJS=function(src,onLoad){var t=document.getElementsByTagName('script')[0],s=document.createElement('script');
if(typeof onLoad==='function'){s.onload=onLoad}s.async=true;s.src=src;t.parentNode.insertBefore(s,t);}
</script>

{{ $modules := slice "responsive" "fast-nav" "theme-switcher" -}}

<script>
(function(d){
'use strict';
var html = d.documentElement, conn = navigator.connection;

{{/* Set current theme */}}
var t=(d.cookie.match(/\btheme\s*=\s*([^;]+)/)||[])[1];
html.classList.add('theme-'+t||'light');

{{/* Load Typekit fonts, opting out where the Network Information API is
supported and reports a slow connection */}}
if (conn && (conn.effectiveType === 'slow-2g' || conn.effectiveType === '2g')) {} else {
  jpNotesLoadJS('https://use.typekit.net/tsy1wxg.js',function(){try{Typekit.load({async:true})}catch(_){}});
}

{{/* Site scripts, only load if the browser supports ES6+ */}}
var es6Test = 'class 六 extends Array{constructor(a=1,x,...b){const c=(({u:e})=>({[`s${b}`]:Symbol(a)}))({});super(a,c,...b)}}' +
'(async function(){let o={a:1};return await Promise.resolve({...o})})().then((o,)=>new 六());';

try {
  eval(es6Test);
  [
  {{- range $index, $module := $modules }}
    {{- $fileName := (printf "%s.%s" $module (cond $.Site.IsServer "js" "min.js")) }}
    '{{ printf "%s/%s" (relURL "js") $fileName }}?v={{ readFile (printf "/themes/jp-notes/static/js/%s" $fileName) | md5 }}'{{ if lt (add $index 1) (len $modules) }},{{ end -}}
  {{ end }}
  ].forEach(jpNotesLoadJS);
  html.classList.remove('no-js');
  html.classList.add('js');
}catch(_){}
}(document));
</script>

{{- $styleOptions := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
{{- $style := resources.Get "sass/main.scss" | toCSS $styleOptions | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body class="{{ block "body_class" . }}{{end}}">
  <a class="skiplink visuallyhidden visuallyhidden--focusable" href="#main">Skip to content</a>
  <div class="sidebar">
    {{ partial "sidebar.html" . }}
  </div>
  <div class="main-body">
    {{ partial "header.html" . }}
    {{ partial "github-link.html" . }}
    <main id="main" class="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>

  <script src='{{ "js/skiplink" | relURL }}.{{ cond $.Site.IsServer "js" "min.js" }}' async></script>
</body>
</html>
