<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}{{ end }}</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://use.typekit.net">

<script>
{{/* Script loader function */}}
window.jpNotesLoadJS=function(src,onLoad){var t=document.getElementsByTagName('script')[0],s=document.createElement('script');
if(typeof onLoad==='function'){s.onload=onLoad}s.async=true;s.src=src;t.parentNode.insertBefore(s,t);}
</script>

{{ $modules := slice "responsive" "fast-nav" "theme-switcher" -}}

<script>
(function(d){
var html = d.documentElement;

{{/* Set current theme */}}
var t=(d.cookie.match(/\btheme\s*=\s*([^;]+)/)||[])[1];
html.classList.add('theme-'+t||'light');

{{/* Load Typekit fonts */}}
jpNotesLoadJS('https://use.typekit.net/tsy1wxg.js',function(){try{Typekit.load({async:true})}catch(_){}});

{{/* Site scripts, only load if the browser supports ES6 */}}
var es6Test = 'class あ extends Array{constructor(j="a",...c){const q=(({u:e})=>{return{[`s${c}`]:Symbol(j)};})({});super(j,q,...c);}}' +
'new Promise((f)=>{const a=function*(){return"\u{20BB7}".match(/./u)[0].length===2||true;};for(let vre of a()){' +
'const [uw,as,he,re]=[new Set(),new WeakSet(),new Map(),new WeakMap()];break;}f(new Proxy({},{get:(han,h)=>h in han?han[h]' +
': "a".repeat(0o10)}));}).then(bi=>new あ(bi.rd));';
try {
  eval(es6Test);
  [
  {{- range $index, $module := $modules }}
    {{- $fileName := (printf "%s.%s" $module (cond $.Site.IsServer "js" "min.js")) }}
    '{{ printf "%s/%s" (relURL "js") $fileName }}?v={{ readFile (printf "/themes/jp-notes/static/js/%s" $fileName) | md5 }}'{{ if lt (add $index 1) (len $modules) }},{{ end -}}
  {{ end }}
  ].forEach(jpNotesLoadJS);
  html.classList.remove('no-js');
  html.classList.add('js');
}catch(_){}
}(document));
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">

{{- $styleOptions := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
{{- $style := resources.Get "sass/main.scss" | toCSS $styleOptions | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body class="{{ block "body_class" . }}{{end}}">
  <div class="sidebar">
    {{ partial "sidebar.html" . }}
  </div>
  <div class="main-body">
    {{ partial "header.html" . }}
    <main class="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
